# Don't commit puzzle data
**/Day_*/puzzle_input.txt
**/Day_*/README.md

# Caches
.vscode/
__pycache__/
*.asv
.DS_Store

# Virtual Envs
.*env/
.python-version
pypy*/

# Jupyter
*.ipynb*

# Test Data
test_input.txt

# Rust
target/
Cargo.lock
*.rs.bk
*.rustfmt
